.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.right {
    border: red 1px solid;
    margin: 10px;
    padding: 20px;
    width: 50%;
    height: auto;
}

.left {
    border: blue 1px solid;
    margin: 10px;
    padding: 20px;
    color: blue;
}

.left h2 {
    color: blue;
    text-transform: uppercase;
    font-family: sans-serif;
}

.right h2 {
    color: red;
    text-transform: uppercase;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
}

button {
    color: blue;
    background-color: white;
    border: blue 1px solid;
    cursor: pointer;
    padding: 5px;
}

.poll {
    color: skyblue;
    border: 1px skyblue solid;
    padding: 5px;
    margin: 10px;
}

.old-polls {
    color: pink;
    border: 1px pink solid;
    padding: 5px;
    margin: 10px;
    width: 25%;
    height: auto;
  
}

.form {
    color: blue;

}

.form input {
    border: blue 1px solid;

}

.question {
    text-transform: uppercase;
    font-family: sans-serif;
}

#close-button {
    margin-top: 5px;
}

.submit-button {
    margin-top: 5px;
}